$background: #282c34;
$background2: #1e2127;
$background-transp: rgba(40, 44, 52, 0);
$offwhite: #cccccc;

.profile-image {
  border-radius: 50%;
  width: 30px;
  margin-right: 11px;
  border: 3px solid $offwhite;
}

.navbar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar-container {
  align-items: center;
  background-color: $background2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 45px;
}

.gradient {
  height: 25px;
  background: linear-gradient(0deg, $background-transp 0%, $background 100%);
}

.navbar-home {
  color: $offwhite;
  text-decoration: none;
}

.nickname,
.signout {
  margin-right: 15px;
}

.nickname {
  color: $offwhite;
  font-weight: 900;
}

.profile-area {
  display: flex;
  justify-content: space-around;
  width: 200px;
  align-items: center;
}

.signin {
  cursor: pointer;
}

.signin-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.signout {
  color: $offwhite;
  font-size: 20px;
  cursor: pointer;
}
